.svg-ampersand { background-image: url('png/ampersand.png'); background-repeat: no-repeat; }

.svg-be-yourself { background-image: url('png/be-yourself.png'); background-repeat: no-repeat; }

.svg-behance-logo { background-image: url('png/behance-logo.png'); background-repeat: no-repeat; }

.svg-black-dot { background-image: url('png/black-dot.png'); background-repeat: no-repeat; }

.svg-burger-menu { background-image: url('png/burger-menu.png'); background-repeat: no-repeat; }

.svg-business-cards { background-image: url('png/business-cards.png'); background-repeat: no-repeat; }

.svg-clarify-meet { background-image: url('png/clarify-meet.png'); background-repeat: no-repeat; }

.svg-cream-bg { background-image: url('png/cream-bg.png'); background-repeat: no-repeat; }

.svg-creative-spark-footer-logo { background-image: url('png/creative-spark-footer-logo.png'); background-repeat: no-repeat; }

.svg-cs-logo { background-image: url('png/cs-logo.png'); background-repeat: no-repeat; }

.svg-event-separator { background-image: url('png/event-separator.png'); background-repeat: no-repeat; }

.svg-follow-up { background-image: url('png/follow-up.png'); background-repeat: no-repeat; }

.svg-follow-us-bird { background-image: url('png/follow-us-bird.png'); background-repeat: no-repeat; }

.svg-instagram-black { background-image: url('png/instagram-black.png'); background-repeat: no-repeat; }

.svg-next-black { background-image: url('png/next-black.png'); background-repeat: no-repeat; }

.svg-next-blue { background-image: url('png/next-blue.png'); background-repeat: no-repeat; }

.svg-next-white { background-image: url('png/next-white.png'); background-repeat: no-repeat; }

.svg-next-yellow { background-image: url('png/next-yellow.png'); background-repeat: no-repeat; }

.svg-opener-questions { background-image: url('png/opener-questions.png'); background-repeat: no-repeat; }

.svg-ping-pong-controls { background-image: url('png/ping-pong-controls.png'); background-repeat: no-repeat; }

.svg-ping-pong-logos { background-image: url('png/ping-pong-logos.png'); background-repeat: no-repeat; }

.svg-ping-pong-paddle-close { background-image: url('png/ping-pong-paddle-close.png'); background-repeat: no-repeat; }

.svg-ping-pong-paddle { background-image: url('png/ping-pong-paddle.png'); background-repeat: no-repeat; }

.svg-pinterest-black { background-image: url('png/pinterest-black.png'); background-repeat: no-repeat; }

.svg-sash-black { background-image: url('png/sash-black.png'); background-repeat: no-repeat; }

.svg-sash-white { background-image: url('png/sash-white.png'); background-repeat: no-repeat; }

.svg-sponsor-adobe { background-image: url('png/sponsor-adobe.png'); background-repeat: no-repeat; }

.svg-sponsor-behance { background-image: url('png/sponsor-behance.png'); background-repeat: no-repeat; }

.svg-sponsor-creative-resource { background-image: url('png/sponsor-creative-resource.png'); background-repeat: no-repeat; }

.svg-sponsor-shillingon { background-image: url('png/sponsor-shillingon.png'); background-repeat: no-repeat; }

.svg-twitter-black { background-image: url('png/twitter-black.png'); background-repeat: no-repeat; }

.svg-white-dot-small { background-image: url('png/white-dot-small.png'); background-repeat: no-repeat; }

.svg-white-dot { background-image: url('png/white-dot.png'); background-repeat: no-repeat; }

